NEXT_PUBLIC_APP_URL=http://localhost:3000
APP_TIMEZONE=Asia/Bangkok
JOB_SECRET=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=

AI_TEXT_API_KEY=
AI_IMAGE_API_KEY=
META_APP_ID=
META_APP_SECRET=
META_PAGE_ID=
META_PAGE_ACCESS_TOKEN=
